body {background-color:#FFEBC1}
h1 {
  font-family: Helvetica; 
  font-weight: bold;
  font-size: 100px; 
  color: #8E3200;
  margin-top:2%;
  margin-left: 3%;
  margin-right:45%; 
}
h2 {
  font-family: Helvetica; 
  font-weight: lighter;
  font-size: 60px; 
  color: #A64B2A;
  margin-top:-3%;
  margin-left: 3%;
  margin-right:68%; 
}

h3 {
  color:#A64B2A;
  font-size: 50px;
  font-weight:bold;
  font-family: Helvetica;
  margin-left: 0%;
  margin-top:-4%;
}
.box-1 {
  width:370px;
  height:40px;
  background-color:#8E3200;
  font-family: Helvetica; 
  font-weight: lighter;
  text-align: center;
  font-size: 50px; 
  color: #FFEBC1;
  margin-top:-3%;
  margin-left: 3%;
}
.box-2 {
  width:370px;
  height:40px;
  background-color:#8E3200;
  font-family: Helvetica; 
  font-weight: lighter;
  text-align: center;
  font-size: 50px; 
  color: #FFEBC1;
  margin-top:1%;
  margin-left: 3%;
}
.box-3 {
  width:370px;
  height:40px;
  background-color:#8E3200;
  font-family: Helvetica; 
  font-weight: lighter;
  text-align: center;
  font-size: 50px; 
  color: #FFEBC1;
  margin-top:1%;
  margin-left: 3%;
}