body {
  background-color: ;
  text-align: left
}

h1 {
  font-size: ;
  font-family: ;
  color: ;
}

h2 {
  font-size: ;
  font-family: ;
  color: ;
}

h3 {
  font-size: ;
  font-family: ;
  color: ;
}